doctype html
html
  head
    title 수식셰프
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='shortcut icon', href='/images/favicon.ico' type="image/ico")
    block head
  
  body
    block content

   
